@import url(https://db.onlinewebfonts.com/c/1c587cd97662ab09cb8ba96867f212e7?family=DINOT-Regular);
body {
    margin: 0;
    padding: 0;
    height: auto; /* Ensures the body and html fill the viewport */
    overflow-x: hidden;/* Prevents unnecessary scrolling */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
    width: 100%;
    position: static; 
    
    height: 20px; /* Set a fixed height for the navbar */
}

.logo img {
    height: 60px;
    width: 60px; 
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: center; /* Center the nav links */
}

.nav-links li {
    margin: 0 15px; /* Space between links */
    font-family: "DINOT-REGULAR";
}

.nav-links a {
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-size: 10px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #6347ff; /* Change color on hover */

}

.nav-links a.active {
    font-weight: bold; /* Make it bold */
     /* Optional: Add an underline */
    color: #6347ff;
    transform: scale(1.50); /* slight zoom effect on hover */
    transition: transform 0.3s; /* Active link color */
}

.intro {
    display: flex;
    
    height: 450px;
    margin: unset;
    padding-right: 20px;
    padding-left: 40px;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    
    
}

.intro .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px; 
    object-fit: cover;
    z-index: -1; /* send it behind the text */
}

.intro h1 {
    font-size: 50px;
    color: #fff;
    text-shadow: 8px 2px 8px rgba(0,0,0,1);
    margin: 0;
}

.intro p {
    font-size: 15px;
    color: #fff;
    text-shadow: 8px 2px 8px rgba(0,0,0,1);
    margin: 0;  
    margin: 0 100px 20px 0;
    font-family: "DINOT-Regular";
}

.container-pool {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(33, 52, 72); /* White background for content */
    border-radius: 10px;
    height: 400px; /* Fixed height for the container */
    
    margin: 30px 50px 0 50px; /* Margin for spacing */
    box-shadow: 8px 17px 28px 5px rgba(0,0,0,0.21); /* Shadow effect */
}

.content {
    max-width: 50%;
}

.container-pool h1 {
    font-size: 2.5em;
    color: rgb(223, 246, 255); /* Dark blue */
}


.container-pool p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 15px 0;
    color: rgb(223, 246, 255);
    font-family: "DINOT-REGULAR"; /* Dark gray for text */
}

.container-pool ul {
    list-style-type: none;
    padding: 0;
    color: rgb(223, 246, 255);
    font-family: "DINOT-REGULAR";
}

.container-pool li {
    margin: 10px 0;
}

.image img {
    width: 300px; /* Adjust width as needed */
    border-radius: 10px;
    aspect-ratio: 3/4;
    box-shadow: 30px 37px 23px -19px rgba(0,0,0,0.2);
    
}

.image img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
    transition: transform 0.3s; /* Smooth transition */
}


.adventure {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 20px;
    padding: 20px 0 20px 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 57px 90px -61px rgba(0,0,0,0.25) inset;
    width: 100%;
    
    
   
}

.adventure-content {
    max-width: 50%;
    padding: 20px;
    font-family: "DINOT-REGULAR";
}


.water-slide-container img {
    width: 450px; /* Adjust width as needed */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    
}

.water-slide-container {
    background-color: rgb(230, 247, 255)   ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0 ;
    width: 100%;
    height: 800px;
    padding: unset;
    box-shadow: 0px 14px 73px -46px rgba(0,0,0,1) inset;
    border-radius: 10px;
    
}

.water-slide-container img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
    transition: transform 0.3s; /* Smooth transition */
}

.adventure h1 {
    font-size: 4.5em;
    color: rgb(0, 0, 0); /* Dark blue */
    margin-top: 50px;
    font-family: "DINOT-Regular";
    text-shadow: 4px 4px 2px rgba(0,0,0,0.34);
}

.adventure h2 {
    font-size: 2.5em;
    color: rgb(0, 0, 0); /* Dark blue */
    margin: 0;
    font-family: "DINOT-Regular";
    text-shadow: 4px 4px 2px rgba(0,0,0,0.34);
}

.adventure p {
    font-size: 1.5em;
    color: rgb(0, 0, 0); /* Dark blue */
    margin-top: 15px;
    
}

.adventure-content ul {
    list-style-type: none;
    padding: 0;
    color: rgb(0, 0, 0);
    margin-top: 60px;
    
}

.adventure-content li {
    margin: 10px 0;
    font-size: 1.3em;
    
}

.playground {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
}

.text-content {
    max-width: 50%;
    padding: 20px;
    background-color:  rgb(33, 52, 72); /* Slightly off-white for text box */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px; /* Fixed height for the text box */
    align-content: center;
    font-family: "DINOT-Regular";
}

.text-content h1 {
    font-size: 2em; /* Larger title */
    color: #EBF4F6; /* Cheerful color */
}

.text-content p {
    font-size: 1em;
    margin: 15px 0;
    color: #EBF4F6;
}

.text-content ul {
    list-style-type: none; /* Removes default bullet points */
    padding: 0;
}

.text-content li {
    margin: 10px 0;
    font-size: 1.1em; /* Slightly larger list items */
    color: #EBF4F6;
}

.image-content img {
    max-width: 100%;
    border-radius: 8px;
}

.horse{
    margin-bottom: unset;
}

.horse-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 100px;
    justify-content: space-around;

}

.horse-content p{
    width: 500px;
    font-family: "DINOT-Regular";

}

.horse-content h1{
    font-size: 2.5em;
}

.horse-header{
    padding: unset;
    
}

.horse-header h1{
    padding: unset;
    margin-top: unset;
    
}

.horse-image {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    width: 800px; 
    margin: auto; 
    border-radius: 8px;
    box-shadow: 0px 57px 90px -61px rgba(0, 0, 0, 0.25) inset;
}

.horse-image img{
    width: 600px;
    margin-top: unset;
    
}

.function {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.function-image {
    flex: 1;
    background-image: url('/pic/function.jpg'); /* Replace with actual image URL */
    background-size: cover;
    background-position: center;
    height: 700px;
    
}
.function-text {
    flex: 1;
    padding: 20px;
    max-width: 500px;
    font-family: "DINOT-Regular";
    
}
.function-text h1 {
    font-size: 2.5em;
    color: #333;
}
.function-text p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #555;
}
.function-text ul {
    list-style-type: disc;
    padding-left: 20px;
}
.function-text li {
    margin: 10px 0;
    font-size: 1.2em;
}

.band{
    margin-bottom: unset;
}

.band-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 100px;
    justify-content: space-around;

}

.band-content p{
    width: 500px;
    font-family: "DINOT-Regular";

}

.band-content h1{
    font-size: 2.5em;
}

.band-header{
    padding: unset;
    
}

.band-header h1{
    padding: unset;
    margin-top: unset;
    
}

.band-image {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    width: 800px; 
    margin: auto; 
    width: 1250px;
    
}

.band-image img{
    width: 1200px;
    margin-top: unset;
    
}

.footer{

    display: flex;
    background-color: #021e38;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.footer-top{
    display: flex;
   background-color: #021e38;
   height: 80px;
   width: 100%;
    align-items: center;
    
    justify-content: space-around;
}

.footer-top1{
    background-color:#021e38;
    height: 60px;
    width: 800px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer-top2{
    background-color: #021e38;
    height: 60px;
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.footer-bottom{
    display: flex;
    background-color:#021e38;
    height: 80px;
    width: 1230px;
    justify-content: center;
    align-items: center;
 }

 .footer-bottom p{
    color: white;
    font-size: 15px;
    margin: 0;
    
 }





.nav-footer {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
}

.nav-footer li {
    margin: 0 20px; 
}

.nav-footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: color 0.3s;
}

.nav-footer a:hover {
    
    text-decoration: underline; 

}

.footer-middle{
    color: white;
}

.footer-top2 img{
    height: 30px;
    width: 30px; 
    padding: 20px;
    
}


@media screen and (max-width: 1024px) {
    html ,body {
        margin: 0;
        padding: 0;
        overflow-x: hidden; 
        width: 100%; 
         
    }

    .nav-links {
      flex-direction: column;
      align-items: center;
    }
  
    .container-pool,
    .adventure,
    .playground,
    .function,
    .band-content,
    .horse-content {
      flex-direction: column;
      height: auto;
      margin: 20px;
      gap: 20px;
    }
  
    .text-content,
    .adventure-content,
    .content,
    .function-text,
    .band-content p,
    .horse-content p {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  
    .image img,
    .water-slide-container img,
    .horse-image img,
    .band-image img {
      width: 100%;
    }
  
    .function-image {
      height: 400px;
    }
  
    .band-image,
    .horse-image {
      width: 100%;
    }
  
    .footer-top,
    .footer-bottom {
      flex-direction: column;
      height: auto;
      padding: 10px;
      gap: 10px;
    }
  
    .footer-top1,
    .footer-top2,
    .footer-bottom {
      width: 100%;
      justify-content: center;
      text-align: center;
    }
  
    .footer-top2 img {
      padding: 10px;
    }
  }
  
  
  @media screen and (max-width: 768px) {

    html ,body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100%; 
         
    }

    .navbar {
      flex-direction: column;
      height: auto;
      padding: 10px;
    }
  
    .logo img {
      height: 60px;
      width: 60px;
    }
  
    .nav-links {
      flex-direction: row;
      align-items: center;
      gap: 50px;
      
    }

    
  
    .intro {
      padding: 20px;
      height: auto;
    }
  
    .intro h1 {
      font-size: 2em;
      text-align: center;
    }
  
    .intro p {
      font-size: 1em;
      text-align: center;
      margin: 10px 0;
    }
  
    .image img,
    .water-slide-container img,
    .horse-image img,
    .band-image img {
      width: 100%;
    }
  
    .container-pool,
    .playground,
    .adventure,
    .function,
    .horse-content,
    .band-content {
      flex-direction: column;
      padding: 10px;
      height: auto;
      margin: 10px;
    }
  
    .text-content,
    .adventure-content,
    .content,
    .function-text,
    .band-content p,
    .horse-content p {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  
    .water-slide-container {
      height: auto;
      padding: 20px;
    }
  
    .footer {
      height: auto;
      padding: 20px 10px;
      text-align: center;
    }
  
    .footer-top,
    .footer-bottom {
      flex-direction: column;
      height: auto;
      gap: 10px;
    }
  
    .footer-top1,
    .footer-top2,
    .footer-bottom {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  
    .nav-footer {
      flex-direction: column;
      gap: 10px;
    }
  
    .footer-top2 img {
      height: 25px;
      width: 25px;
      padding: 10px;
    }

    .adventure p, .adventure ul {
        margin-right: 50px;
    }
  }
  


