.footer{

    display: flex;
    background-color: #021e38;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.footer-top{
    display: flex;
   background-color: #021e38;
   height: 80px;
   width: 100%;
    align-items: center;
    
    justify-content: space-around;
}

.footer-top1{
    background-color:#021e38;
    height: 60px;
    width: 800px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer-top2{
    background-color: #021e38;
    height: 60px;
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.footer-bottom{
    display: flex;
    background-color:#021e38;
    height: 80px;
    width: 1230px;
    justify-content: center;
    align-items: center;
 }

 .footer-bottom p{
    color: white;
    font-size: 15px;
    margin: 0;
    
 }





.nav-footer {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
}

.nav-footer li {
    margin: 0 20px; 
}

.nav-footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: color 0.3s;
}

.nav-footer a:hover {
    text-decoration: underline; 

}

.footer-middle{
    color: white;
}

.footer-top2 img{
    height: 30px;
    width: 30px; 
    padding: 20px;
    
}